@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}

header .logo span{
    color: #2196f3;
}

header ul{
    display: flex;
    gap: 40px;
    z-index: 1;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    transition: 0.5s;
}

.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}

.content h3{
    font-size: 2em;
    color: #333;
    font-weight: 200;
    transition: 0.5s;
}

.content h2{
    font-size:5.5em ;
    color: #333;
    font-weight: 700;
    transition: 0.5s;
}

.content h2 span{
    color: #e91e63;
}

.content p{
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
}

.content button{
    position: relative;
    background: #2196f3;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    font-size: 1.75em;
    color: #333;
}

.sci li a:hover{
    color: #2196f3;
}

.daynight{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;   
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
    z-index: 1;
}

.daynight ion-icon:nth-child(2){
    display: none;
}

.banner.night{
    background: #333;
}

.banner.night .daynight ion-icon:nth-child(2){
    display: block;
}

.banner.night .daynight ion-icon:nth-child(1){
    display: none;
}

.banner.night .daynight{
    background: #444;
    color: #fff;
}

.banner.night header .logo,
.banner.night .content h2,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night .content h3,
.banner.night header ul li a{
    color: #fff;
}

.banner.night .profession-box .profession{
    background: #333;
}

.banner.night .sci li a:hover{
    color: #2196f3;
}

.profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, professionRotate 13s ease-out infinite;
    animation-delay: 2.5s, 3.5s;
}

.banner .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
}

.profession-box .profession{
    position: absolute;
    left: 0;
    transform-origin: 384px;
    transform: rotate(calc(360deg / 4 * var(--i)));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2196f3;
    background: #fff;
    padding: 13px 0;
}

.profession i {
    font-size: 38px;
}

.profession h3{
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
}

.profession-box .circle {
    width: 72%;
    height: 72%;
    border: 3px solid #2196f3;
    border-radius: 50%;
}

.profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.profession-box .profession:nth-child(2) i {
    padding-bottom: 20px;
}

.profession-box .profession:nth-child(3) i {
    padding-bottom: 20px;
}

.profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid #2196f3;
    border-right: 384px solid #2196f3;
    border-bottom: 384px solid #2196f3;
    border-left: 384px solid transparent;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes professionRotate {
    0%, 20%{
        transform: rotate(0deg);
    }
    25%, 45%{
        transform: rotate(-90deg);
    }
    50%, 70%{
        transform: rotate(-180deg);
    }
    75%, 95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}